html, body
{
  height: 100%;
  margin: 0;
}

body
{
background-image: linear-gradient(to right top, #075794, #c425d9, #181bc1, #aa0a8f, #510094);
}

.header
{
color: rgb(173, 28, 28);font-family: 'Yeon Sung';font-size: 45px;letter-spacing: 10px;margin-top: 80px;
}
.header img
{
width: 80px;margin-left: -15px;
}

.login_div
{
background: rgba(24, 40, 187, 0.8);float: none;border-radius: 15px;
}

.logo
{
width: 80px;margin-top: 30px;border-radius: 40px;
}

#login_button
{
width: 80%;border-radius: 15px;
}

.room_name
{
cursor: pointer;
font-size: 20px;
}


#logout
{
font-size: 20px; float: right;
}


#output
{
padding: 10px; width:80%;background: rgba(8, 87, 133, 0.8);border-radius: 15px;
}

.input_div_room_page
{
width: 80%;
}

.input_div label
{
color: rgb(97, 28, 85);font-size: 20px;
}


.input_div_message_page
{
position: fixed;bottom: 0px;width: 100%;background: rgba(206, 2, 224, 0.8);
}
.input_div_message_page label
{
color: black;
}
.input_div_message_page #msg
{
width: 80%;
}
.input_div_message_page button
{
margin-top: 15px;
width: 50%;
}
.color_white
{
color: white
}

.user_tick
{
width:20px;
}
.message_h4
{
padding-left:5px;color:grey;
}
